In [26]:
import pandas as pd
import os
import numpy as np
pd.set_option('display.max_rows', None)

In [2]:
# 获取文件夹中所有的 CSV 文件
folder_path = '/root/CNN-for-Trading/DayDatas单品种2010-2023'
csv_files = [f for f in os.listdir(folder_path) if f.endswith('.csv')]

# 读取所有 CSV 文件并存储在一个列表中，同时添加文件名作为新列
dfs = []
for file in csv_files:
    df = pd.read_csv(os.path.join(folder_path, file))
    df['FileName'] = os.path.splitext(file)[0]  # 添加文件名作为新列
    dfs.append(df)

# 使用 concat 函数将所有 DataFrame 合并
df = pd.concat(dfs, axis=0, ignore_index=True)

In [12]:
np.set_printoptions(threshold=np.inf)

In [3]:
df['NewColumn'] = df['FileName'].str[:2]

In [28]:
#df = df.drop('NewColumn_mon', axis=1)

In [4]:
df['NewColumn_mon'] = df['FileName'].apply(lambda x: x.split('.')[0][-2:])

In [5]:
df['NewColumn'] = df['NewColumn'].astype(str)
df['NewColumn_mon'] = df['NewColumn_mon'].astype(str)

In [7]:
df.head()

,Unnamed: 0,OPEN,HIGH,LOW,CLOSE,SETTLE,VOLUME,OI,FileName,NewColumn,NewColumn_mon
0,20200102,3266.0,3355.0,3266.0,3346.0,3326.0,2238.0,1447.0,A2001.DCE,A2,01
1,20200103,3375.0,3380.0,3375.0,3380.0,3379.0,66.0,361.0,A2001.DCE,A2,01
2,20200106,3390.0,3390.0,3371.0,3375.0,3379.0,461.0,420.0,A2001.DCE,A2,01
3,20200107,3395.0,3405.0,3380.0,3399.0,3398.0,283.0,224.0,A2001.DCE,A2,01
4,20200108,3380.0,3399.0,3380.0,3399.0,3392.0,116.0,124.0,A2001.DCE,A2,01

In [8]:
type(df.loc[0,'NewColumn'])

str

In [9]:
df['NewColumn'].unique()

array(['A2', 'AG', 'AL', 'AO', 'AP', 'AU', 'BC', 'BR', 'BU', 'C2', 'CF',
       'CJ', 'CS', 'CU', 'CY', 'EB', 'EC', 'EG', 'FG', 'FU', 'HC', 'I2',
       'IC', 'IF', 'IH', 'IM', 'J2', 'JD', 'JM', 'L2', 'LC', 'LH', 'LU',
       'M2', 'MA', 'NI', 'NR', 'OI', 'P2', 'PB', 'PF', 'PG', 'PK', 'PP',
       'RB', 'RM', 'RR', 'RU', 'SA', 'SC', 'SF', 'SI', 'SM', 'SN', 'SP',
       'SR', 'SS', 'T2', 'TA', 'TF', 'UR', 'V2', 'WR', 'Y2', 'ZN'],
      dtype=object)

## 转字典

In [10]:
file_path = '/root/CNN-for-Trading/主力.txt'
refer_df = pd.read_csv(file_path, delimiter=':')

In [11]:
refer_df.head()

  code                            main_date
0   A2                             01,05,09
1   AG                             02,06,12
2   AL  01,02,03,04,05,06,07,08,09,10,11,12
3   AO                                   删除
4   AP                             01,05,10

In [12]:
a=refer_df.set_index('code')['main_date']

In [13]:
# 将 DataFrame 转为字典，以逗号分隔 main_date 列的值为多个值
result_dict = a.apply(lambda x: x.split(',')).to_dict()

In [14]:
for key, value in result_dict.items():
    print(f"Key: {key}, Value: {value}")

Key: A2, Value: ['01', '05', '09']
Key: AG, Value: ['02', '06', '12']
Key: AL, Value: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
Key: AO, Value: ['删除']
Key: AP, Value: ['01', '05', '10']
Key: AU, Value: ['02', '04', '06', '08', '10', '12']
Key: BC, Value: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
Key: BR, Value: ['删除']
Key: BU, Value: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
Key: C2, Value: ['01', '03', '05', '07', '09', '11']
Key: CF, Value: ['01', '05', '09  ']
Key: CJ, Value: ['01', '05', '09']
Key: CS, Value: ['01', '03', '05', '07', '09', '11']
Key: CU, Value: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
Key: CY, Value: ['01', '05', '09']
Key: EB, Value: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
Key: EC, Value: ['删除']
Key: EG, Value: ['01', '05', '09']
Key: FG, Value: ['01', '05', '09']
Key: FU, Value: ['01', '05', '09']
Key: HC, Value: ['01', '05', '10']
Key: I2, Value: ['01', '05', '09']
Key: IC, Value: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
Key: IF, Value: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
Key: IH, Value: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
Key: IM, Value: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
Key: J2, Value: ['01', '05', '09']
Key: JD, Value: ['01', '05', '09']
Key: JM, Value: ['01', '05', '09']
Key: L2, Value: ['01', '05', '09']
Key: LC, Value: ['删除']
Key: LH, Value: ['01', '03', '05', '07', '09', '11']
Key: LU, Value: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
Key: M2, Value: ['01', '05', '09']
Key: MA, Value: ['01', '05', '09']
Key: NI, Value: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
Key: NR, Value: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
Key: OI, Value: ['01', '05', '09']
Key: P2, Value: ['01', '05', '09']
Key: PB, Value: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
Key: PF, Value: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
Key: PG, Value: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
Key: PK, Value: ['删除']
Key: PP, Value: ['01', '05', '09']
Key: RB, Value: ['01', '05', '10']
Key: RM, Value: ['01', '05', '09']
Key: RR, Value: ['删除']
Key: RU, Value: ['01', '05', '09']
Key: SA, Value: ['01', '05', '09']
Key: SC, Value: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
Key: SF, Value: ['01', '05', '09']
Key: SI, Value: ['删除']
Key: SM, Value: ['01', '05', '09']
Key: SN, Value: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
Key: SP, Value: ['01', '05', '09']
Key: SR, Value: ['01', '05', '09']
Key: SS, Value: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
Key: T2, Value: ['03', '06', '09', '12']
Key: TA, Value: ['01', '05', '09']
Key: TF, Value: ['03', '06', '09', '12']
Key: UR, Value: ['01', '05', '09']
Key: V2, Value: ['01', '05', '09']
Key: WR, Value: ['01', '05', '10']
Key: Y2, Value: ['01', '05', '09']
Key: ZN, Value: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']

## 比较

In [ ]:
# 如果值存在于字典的键中，返回对应的值，否则返回 None
value_to_find = 'A2'
result = result_dict.get(value_to_find)

In [124]:
if result is not None:
    print(f"The value {value_to_find} exists in the dictionary keys, and its corresponding value is {result}.")
else:
    print(f"The value {value_to_find} does not exist in the dictionary keys.")

The value 'A2' exists in the dictionary keys, and its corresponding value is ['01', '05', '09'].

In [15]:
k=df

In [16]:
len(k)

445226

In [ ]:

# 要查找的值
value_to_find = k.loc[0,'NewColumn_mon']
key_to_search = k.loc[0,'NewColumn']

# 检查值是否存在于特定键对应的值中
if value_to_find in result_dict.get(key_to_search, []):
    #k.loc[i,'decide'] = 1
    print(f"The value {value_to_find} exists in the dictionary under the key {key_to_search}.")
    
else:
    #k.loc[i,'decide'] = 0
    print(f"The value {value_to_find} does not exist in the dictionary under the key {key_to_search}.")

The value 01 exists in the dictionary under the key A2.

In [18]:
for i in range(len(k)):
    # 要查找的值
    value_to_find = k.loc[i,'NewColumn_mon']
    key_to_search = k.loc[i,'NewColumn']
    
    # 检查值是否存在于特定键对应的值中
    if value_to_find in result_dict.get(key_to_search, []):
        k.loc[i,'decide'] = 1
        #print(f"The value {value_to_find} exists in the dictionary under the key {key_to_search}.")
        
    else:
        k.loc[i,'decide'] = 0
        #print(f"The value {value_to_find} does not exist in the dictionary under the key {key_to_search}.")

In [25]:
#k[k['NewColumn']=='A2']

In [20]:
# 要检查的列
column_to_check = 'decide'

# 使用布尔索引选择需要保留的行
k_end = k[k[column_to_check] != 0]

# 重置索引
k_end = k_end.reset_index(drop=True)

In [21]:
len(k_end)

251971

In [24]:
# 导出为 CSV 文件
k_end.to_csv('output_file.csv', index=False)